<div class="relative min-h-screen bg-gray-900 font-sans flex flex-col">

    <!-- Imagen de fondo -->
    <div class="absolute inset-0">
        <img src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?auto=format&fit=crop&w=1950&q=80" class="w-full h-full object-cover brightness-75" alt="Fondo hero">
        <div class="absolute inset-0 bg-linear-to-b from-black/40 via-black/10 to-black/60"></div>
    </div>

    <div class="relative z-10 flex flex-col min-h-screen">

        <!-- Header -->
        <header class="flex justify-between items-center p-6 text-white">
            <h1 
                class="text-3xl font-bold tracking-wide ml-10 cursor-pointer hover:text-blue-500"
                routerLink="/">
                Homie
            </h1>
            
            <div class="flex items-center space-x-4">
                <button 
                    *ngIf="isLoggedIn"
                    routerLink="/guardados"
                    class="px-5 py-2 bg-white text-gray-800 rounded-full hover:bg-gray-300 transition font-semibold shadow-lg cursor-pointer">                
                    Guardados
                </button>

                <button 
                    *ngIf="!isLoggedIn" 
                    routerLink="/login"
                    class="px-5 py-2 bg-blue-500 rounded-full hover:bg-blue-700 transition font-semibold shadow-lg cursor-pointer">
                    Login
                </button>

                <button 
                    *ngIf="isLoggedIn"
                    (click)="logout()"
                    class="px-5 py-2 bg-red-500 rounded-full hover:bg-red-700 transition font-semibold shadow-lg cursor-pointer">
                    Logout
                </button>
            </div>
        </header>

        <!-- FORMULARIO -->
        <main class="flex-1 flex flex-col items-center justify-center px-6 mb-10">
            <div class="w-full max-w-5xl relative">
                <div class="max-w-6xl mx-auto bg-white/60 backdrop-blur-xl rounded-3xl shadow-[0_20px_60px_rgba(0,0,0,0.3)] p-8 md:p-12 border border-white/20">

                    <h2 class="text-4xl font-extrabold text-gray-800 text-center mb-10 drop-shadow-md">
                        Datos para la Predicción
                    </h2>

                    <form 
                        [formGroup]="predictForm" 
                        (ngSubmit)="predictPrice()"
                        class="flex flex-col gap-10"
                    >

                        <!-- GRID INPUTS -->
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                            <!-- COLUMNA IZQUIERDA -->
                            <div class="flex flex-col gap-4">
                                <input type="number" placeholder="m² reales" class="input p-3 border border-gray-400 rounded-2xl" formControlName="m2_real">
                                <input type="number" placeholder="Número de habitaciones" class="input p-3 border border-gray-400 rounded-2xl" formControlName="room_num">
                                <input type="number" placeholder="Número de baños" class="input p-3 border border-gray-400 rounded-2xl" formControlName="bath_num">
                                <input type="number" placeholder="Planta / Piso (0 para planta baja)" class="input p-3 border border-gray-400 rounded-2xl" formControlName="floor">

                                <select formControlName="condition" class="input p-3 border border-gray-400 rounded-2xl">
                                    <option value="">Estado del inmueble</option>
                                    <option value="0">Nuevo</option>
                                    <option value="3">Reformado</option>
                                    <option value="2">Buen estado</option>
                                    <option value="1">A reformar</option>
                                </select>

                                <select formControlName="garage" class="input p-3 border border-gray-400 rounded-2xl">
                                    <option value="">Garaje</option>
                                    <option value="0">No indicado</option>
                                    <option value="1">Incluido</option>
                                    <option value="4">5000€ adicionales</option>
                                    <option value="5">6000€ adicionales</option>
                                    <option value="6">8000€ adicionales</option>
                                    <option value="2">10000€ adicionales</option>
                                    <option value="3">12000€ adicionales</option>
                                </select>
                            </div>

                            <!-- COLUMNA DERECHA -->
                            <div class="flex flex-col gap-4">
                                <select formControlName="loc_city" class="input p-3 border border-gray-400 rounded-2xl">
                                    <option value="">Municipio</option>
                                    <option value="0">Barcelona</option>
                                    <option value="1">Hospitalet de Llobregat</option>
                                    <option value="2">Vilafranca del Penedès</option>
                                </select>

                                <select formControlName="loc_district" class="input p-3 border border-gray-400 rounded-2xl">
                                    <option value="">Distrito</option>
                                    <option value="0">Centre Vila</option>
                                    <option value="1">Eixample</option>
                                    <option value="2">La Escorxador</option>
                                    <option value="3">Sant Julià</option>
                                    <option value="4">Sant Pere</option>
                                    <option value="5">Sants - Badal</option>
                                </select>

                                <select formControlName="loc_neigh" class="input p-3 border border-gray-400 rounded-2xl">
                                    <option value="">Barrio</option>
                                    <option value="0">La Barceloneta</option>
                                    <option value="1">La Florida</option>
                                    <option value="2">Les Corts</option>
                                    <option value="3">Llefià</option>
                                    <option value="4">Naves</option>
                                    <option value="5">Sant Martí</option>
                                    <option value="6">Sant Pere</option>
                                    <option value="7">Sant Julià</option>
                                    <option value="8">Sants - Badal</option>
                                    <option value="9">Vilafranca del Penedès</option>
                                </select>

                                <input type="number" placeholder="Tamaño del terreno" class="input p-3 border border-gray-400 rounded-2xl" formControlName="ground_size">

                                <select formControlName="house_type" class="input p-3 border border-gray-400 rounded-2xl">
                                    <option value="">Tipo de vivienda</option>
                                    <option value="0">Apartamento</option>
                                    <option value="1">Chalet independiente</option>
                                    <option value="2">Chalet adosado</option>
                                    <option value="3">Estudio</option>
                                    <option value="4">Finca rústica</option>
                                    <option value="5">Piso</option>
                                </select>
                            </div>
                        </div>

                        <!-- CHECKBOXES -->
                        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 gap-4 text-gray-700">
                            <label class="flex items-center gap-2"><input type="checkbox" class="cursor-pointer" formControlName="balcony" value="1">Balcón</label>
                            <label class="flex items-center gap-2"><input type="checkbox" class="cursor-pointer" formControlName="terrace" value="1">Terraza</label>
                            <label class="flex items-center gap-2"><input type="checkbox" class="cursor-pointer" formControlName="garden" value="1">Jardín</label>
                            <label class="flex items-center gap-2"><input type="checkbox" class="cursor-pointer" formControlName="unfurnished" value="1">Sin amueblar</label>
                            <label class="flex items-center gap-2"><input type="checkbox" class="cursor-pointer" formControlName="swimming_pool" value="1">Piscina</label>
                            <label class="flex items-center gap-2"><input type="checkbox" class="cursor-pointer" formControlName="lift" value="1">Ascensor</label>
                        </div>

                        <!-- BOTÓN -->
                        <div class="flex justify-center">
                            <button 
                                type="submit"
                                class="px-16 py-4 bg-blue-600 text-white rounded-full text-xl font-semibold shadow-xl hover:bg-blue-700 transition cursor-pointer"
                                [disabled]="predictForm.invalid"
                            >
                                Calcular Precio
                            </button>
                        </div>

                    </form>
                </div>


                <!-- RESULTADO DE LA PREDICCIÓN -->
                <div class="w-full max-w-5xl relative mt-8"
                    *ngIf="predictedPrice > 0"
                >
                    <div class="bg-white/60 backdrop-blur-xl rounded-3xl shadow-[0_20px_60px_rgba(0,0,0,0.3)] p-12 border border-white/20 flex flex-col items-center">

                        <h2 class="text-3xl font-extrabold text-gray-800 mb-6 drop-shadow-md text-center">
                            Resultado de la Predicción
                        </h2>

                        <p id="predicted-price" class="text-4xl font-bold mb-8">{{predictedPrice}} €</p>

                        <button 
                            type="button"
                            (click)="openSaveModal()"
                            id="guardar-prediccion"
                            class="px-12 py-4 bg-green-500 text-white rounded-full text-xl font-semibold shadow-xl hover:bg-green-700 transition cursor-pointer">
                            Guardar Predicción
                        </button>
                    </div>
                </div>
                
            </div>
        </main>

    </div>

</div>

<!-- Poppup -->
<div
    *ngIf="showSaveModal"
    class="fixed inset-0 bg-black/50 flex items-center justify-center z-50"
>
    <div class="bg-white rounded-3xl p-8 w-96 shadow-lg relative">
        <h3 class="text-2xl font-bold mb-4 text-gray-800 text-center">
            Guardar Predicción
        </h3>

        <input
            type="text"
            placeholder="Nombre a guardar"
            [(ngModel)]="saveName"
            class="w-full p-3 border border-gray-400 rounded-2xl mb-6 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />

        <div class="flex justify-center gap-4">
            <button
                (click)="confirmSave()"
                class="px-4 py-2 bg-green-500 text-white rounded-full hover:bg-green-700 transition font-semibold cursor-pointer"
                [disabled]="!saveName"
            >
                Confirmar
            </button>
            <button
                (click)="cancelSave()"
                class="px-4 py-2 bg-red-500 text-white rounded-full hover:bg-red-700 transition font-semibold cursor-pointer"
            >
                Cancelar
            </button>
        </div>
    </div>
</div>

